.Footer {
    position: fixed;
    bottom: 0;
    left: 120px;
    right: 120px;
    height: 100px;
    text-align: center;
}

.Line {
    height: 1px;
    background-color: #F1E9E6;
    opacity: 0.3;
}

.Authority {
    position:relative;
    top: 20px;
    color: #F1E9E6;
    letter-spacing: 1px;
}

@media (max-width: 640px) {
    .Footer {
        height: 50px;
    }
    .Authority {
        top: 5px;
    }
}