.Footer {
    position: fixed;
    bottom: 0;
    left: 120px;
    right: 120px;
    height: 120px;
}

.Line {
    height: 1px;
    background-color: #F1E9E6;
    opacity: 0.3;
}

.SocialGroup {
    position: absolute;
    top: 30px;
    left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    column-gap: 30px;
}

svg {
    stroke: #F1E9E6;
}

svg:hover {
    stroke:#31223F;
}

.Authority {
    position: absolute;
    top: 30px;
    right: 0;
    color: #F1E9E6;
    letter-spacing: 1px;
}