.Header {
  position: fixed;
  top: 0;
  left: 120px;
  right: 120px;
  height: 120px;
  z-index: 100;
}

.HeaderScrolled {
  background: #48355b;
}

.Logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.SocialGroup {
  position: absolute;
  top: 30px;
  left: 0;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  column-gap: 20px;
}

svg {
  stroke: #f1e9e6;
}

svg:hover {
  stroke: #31223f;
}

@media (max-width: 640px) {
  .SocialGroup {
    display: none;
  }
  .Logo {
    display: none;
  }
}
